.contact-type {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 200px;
    margin-top: 10px;
}

#download-contact {
    background: $download_contact-background;
    color: $download_contact-color;
}