footer {
    background: $footer-background;
    color: $footer-color;
    padding: 3em 3em !important;
    @media screen and (max-width: 500px){
        padding: 1em 1em !important;
    }
    span {
        margin-left: 15px;
    }
}

