.navbar {
    img {
        margin-left: 2px;
    }
    padding: 3rem 3rem !important;
    @media screen and (max-width: 500px){
        padding: 1em 1em !important;
    }
}

.search {
    color: $nav-color;
    border-color: $secondary; 
    background: $nav-background;
}