nav {
    border-top: 1px solid $primary;
    justify-content: space-between;
}

.navigation {
    display: flex;
    li {
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            cursor: pointer;
            a {
                color: $secondary; 
            }
        }
        a {
            color: $primary;
            font-size: 24px;
        }
        padding: 20px;
    }
}

.logo {
    max-width: 150px;
    height: auto;
}