%classic-input {
    height: 35px;
    padding: 4px 10px;
    @media screen and (max-width: $screen-small){
        width: 100px;
    }
    @media screen and (min-width: $screen-medium){
        width: 180px;
    }
}


%icon-inside-input {
    position: absolute;
}

.search {
    @extend %classic-input;
    border-radius: 30px;
    border: 1px solid $secondary;
}

.input-container {
    position: relative;
    span {
        @extend %icon-inside-input;
        top: 10px;
        @media screen and (max-width: $screen-small){
            left: 70px;
        }
        @media screen and (min-width: $screen-small){
            left: 140px;
        }
        @media screen and (min-width: $screen-medium){
            left: 150px;
        }
    }
}



