.nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-item {
    
    border: 2px solid gray;
    margin-top: 5px;
    width: 300px;
    border-radius: 4px;
    a {
        padding: 10px 20px;
        display: block;
    }
    &:hover{
        cursor: pointer;
        color: $primary-blue;
        border-color: $primary-blue;
        box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.4);
    }
    @media screen and (max-width: $screen-small) {
        font-size: 13px;
    }

    @media screen and (min-width: $screen-small) and (max-width: $screen-medium) {
        font-size: 15px;
    }

    @media screen and (min-width: $screen-medium) {
        font-size: 18px;
    }
}