.flexslider {
    height: calc(100vh - 90px);
}

.slider-wrapper {
    height: calc(100vh - 90px);
    margin-bottom: 50px;
}

.bx-wrapper {
    max-width: 100% !important;
    width: 100% !important;
}

.bxslider {
    div{
        width: 100% !important;
    }
    
}

.flex-control-nav{
    display: none;
}