.container {
    display: flex;
    justify-content: space-between;
    padding: $container-padding;
    @media screen and (max-width: $screen-small){
        padding: $container-padding-small;
    }
}

.row {
    width: 100%;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
}





