.container {
    display: flex;
    justify-content: space-between;
    padding: $container-padding;
    @media screen and (max-width: $screen-small){
        padding: $container-padding-small;
    }
}





