body {
    background: $background;
}

* {
    color: $font-color;
    font-family: 'Lato', sans-serif;
}

h1,h2,h3,h4,h5,h6 { 
    font-family: 'Alegreya', serif;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 18px;
}

p {
    text-align: justify;
    font-size: 18px;
    line-height: 1.4;
}

%primary-information {
    background: $background;
    color: $primary;
    * {
        color: $primary;
    }
}

%secondary-information {
    background: $background;
    color: $primary;
    * {
        color: $secondary;
    }
}

.section-header {
    @extend %primary-information;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px;
}