body {
    background: $background;
}

* {
    color: $font-color;
    // font-family: Infini_Roman;
}

@font-face {
    font-family: Jappoki;
    src: url('../assets/fonts/jappoki.otf');
}

@font-face {
    font-family: Infini_Roman;
    src: url('../assets/fonts/infini-romain.ttf')
}


h1,h2,h3,h4,h5,h6 { 
    // font-family: Jappoki;
}

%primary-information {
    background: $background;
    * {
        color: $primary;
    }
}

%secondary-information {
    background: $background;
    * {
        color: $secondary;
    }
}