/*** COLORS ***/
$primary: white;
$secondary: #e8dfda;

/*** USABLE VARIABLES ***/

/*** FONTS ***/
$headline-font: 'Varela Round', Helvetica, Arial, sans-serif;
$body-font: 'Palatino Linotype', Baskerville, serif;

/*** SCREEN RESOLUTIONS ***/
$screen-small : 400px;
$screen-medium : 760px;
$screen-large: 1000px;

$container-padding: 4em 2em;
$container-padding-small: 3em 15px;


